<style>

  
span{
    font-size:15px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
</style>




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <a href="https://www.instagram.com/taraasistan/">
							<i class="fa fa-instagram fa-4x"></i>
						</a>
						<div class="title">
							<h4>İnstagram</h4>
						</div>
                        
						<div class="text">
							<span>Bizi daha yakından tanımak için İnstagram hesabımızı takip edin</span>
						</div>
                        
						<a href="https://www.instagram.com/taraasistan/">Daha Fazlası İçin</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
					    
					    <a href="https://twitter.com/AsistanTara">
							<i class="fa fa-twitter fa-4x"></i>
						</a>
                    
						<div class="title">
							<h4>Twitter</h4>
						</div>
                        
						<div class="text">
							<span>Bizi daha yakından tanımak için Twitter hesabımızı takip edi</span>
						</div>
                        
						<a href="https://twitter.com/AsistanTara">Daha fazlası İçin</a>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <a href="https://www.linkedin.com/company/reezo-taraasistan/">
							<i class="fa fa-linkedin fa-4x"></i>
						</a>
                        
						<div class="title">
							<h4>Linked-In</h4>
						</div>
                        
						<div class="text">
							<span>Bizi daha yakından tanımak için Linked-In hesabımızı takip edin</span>
						</div>
                        
						<a href="#">Daha Fazlası İçin</a>
                        
					 </div>
				</div>	 
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <a href="#">
							<i class="fa fa-youtube fa-4x"></i>
						</a>
                        
						<div class="title">
							<h4>Youtube</h4>
						</div>
                        
						<div class="text">
							<span>Bilgi, tecrübe ve deneyimlerimizi paylaşmak için yakında Youtube'dayız.</span>
						</div>
                        
						<a href="#">Daha fazlası için Lütfen beklemede kalın</a>
                        
					 </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <a href="#">
							<i class="fa fa-github fa-4x"></i>
						</a>
                        
						<div class="title">
							<h4>GitHub</h4>
						</div>
                        
						<div class="text">
							<span>Açık kaynak kod kütüphanemizi sizlerle paylaşmak için yakında GitHub'dayız.</span>
						</div>
                        
						<a href="#">Daha fazlası için Lütfen beklemede kalın</a>
                        
					 </div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center">
                        
                        <a href="#">
							<i class="fa fa-stack-overflow fa-4x"></i>
						</a>
                        
						<div class="title">
							<h4>Stack Overflow</h4>
						</div>
                        
						<div class="text">
							<span>Açık kaynak kod kütüphanemizi sizlerle paylaşmak için yakında Stack Overflow'dayız.</span>
						</div>
                        
						<a href="#">Daha fazlası için Lütfen beklemede kalın</a>
                        
					 </div>
				</div>
				
				
				 
		
		</div>		
    </div>
</div>